{
    "extends": "rallycoding",
    "rules": {
        "no-mixed-operators": "off",
        "space-before-function-paren": "off",
        "no-multi-spaces": "off",
        "no-underscore-dangle": "off",
        "no-lonely-if": "off",
        "no-array-constructor": "off"
    }
}